/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

.content {
	padding: 0 0.938rem;
	margin: 0 auto;
}

body {
	font-size: 1em;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	color: #2c4000;
}

/* MY STYLES */


/* NAVAGATION */

.top-navagation {
	background-color: #fff;
	position: fixed;
	width:100%;
	z-index: 9999;
	top: 0;
}

.top-navagation > .content {
	height: 4.375rem;
	margin: 0 auto;
	margin-top: 25px;
}

.top-navagation h1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 15px;

}

/* NAVAGATION LINKS FORMATTING */

.top-navagation .links {
	float: right;
	color: #2c4000;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	margin-top: 12px;
}

.top-navagation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navagation .links li:hover{
	color: #677501;
	cursor: pointer;
}

/* INTRODUCTION SECTION */

.introduction_transbox {
	border: 1px solid black;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
	margin: 0 auto; 
	height:10rem;
	margin-top: 18rem;
	padding-top: 5px;
}


.introduction {
    background-image: url(../images/Waterfall.JPG);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .4; */
    height: 45.938rem;
    overflow: auto;
}


.intro {
	/* margin-top: 18rem; */
	font-size: 2em;
	color: #0d0f08;
	text-shadow: 3px 3px 1px #a1a5a4;
}

.introduction h1 {
	margin-top: .25rem;
	font-size: 6em;
	color: #677501;
	text-shadow: 3px 3px 2px #000
}

.intro,
.introduction h1 {
	text-align: center;
}

/* ABOUT SECTION */

.about {
	width:100%;
	display: inline-block;
	max-width: 1200px;
}

.about > .content {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	float: left;
	overflow: hidden;
}

.about h1 {
	margin-top: 4rem;
	font-size: 2em;
}

.about h4 {
	margin-top: 1rem;
	font-size: 1.30em;
}

.about p {
	margin-top: 1rem;
}

.about .photo {
	float: right;
	width: 40%; 
	margin-top: 16rem;
}

.me {
	width: 100%;
	height: 100%;
	text-align: center;
}

/* LISTS */

.bands {
  list-style: none; 
}

.activites > li,
.bands > li {
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-top: .5rem;
}

/* LOCATION AND CONTACT SECTION */

.location h1 {
	margin-top: 4rem;
	font-size: 2em;
}

.location p {
	margin-top: 1rem;
}

.location h4 {
	margin-top: 1rem;
	font-size: 1.30em;
}

.location h1,
.location p,
.location h4 {
	text-align: center;
}

.location hr {
  border: 0;
  border-top: 1px solid #eaebec;
  margin: 1.313rem 0;
}

/* FOOTER */

.foot {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
    clear: both;
}

.foot hr {
  border: 0;
  border-top: 1px solid #eaebec;
  margin: 1.313rem 0;
}

.foot .copy {
    font-size: .9rem;
    font-weight: 300;
    color: #838994;
 }


.foot .icons > li {
    border-radius: 1.25rem;
    width: 2rem;
    height: 1rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.foot .twitter .links li:hover{
    color: #55acee;
}

.foot .facebook .links li:hover{
    color: #4c66a4;
}

.foot .linkedin .links li:hover{
	color: #0976b4;
}

.foot .github .links li:hover{
	color: #6cc644;
}






/* PORTFOLIO FORMAT */

.NYTIMES,
.Karma {
	text-align: center;
}

.NYTIMES h1,
.Karma h1 {
	margin-top: 8rem;
	font-size: 2em;
}

.NYTIMES hr,
.Karma hr {
  border: 0;
  border-top: 1px solid #eaebec;
  margin: 1.313rem 0;
}

.NY1 {
	float: left;
	width: 50%;
}

.NY2 {
	float: right;
	width: 50%;
}

.workphoto {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 2rem;
}

.test {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 4rem;
}

.Karma {
	clear: both;
}

.Rebuild li {
    display: inline-block;
    width: 33.3333333%;
    float:left;
    overflow: hidden;
    padding-bottom: 5rem;
    text-align: center;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 764px) {
    .about .content, 
    .about .photo {
    	float: none;
    	width: 100%;
    }

	.NY1,
	.NY2 {
		float: none;
		width:100%;
	}

	.Rebuild li {
		float: none;
		width:100%;
	}

	.top-navagation h1 {
		font-size: 1.3em;
		}
}


a:link, a:visited { 
    color: #2c4000;
    text-decoration: none;
    cursor: pointer;
}

a:link, a:active { 
    color: #677501;
    text-decoration: none;
    cursor: pointer;
}