/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

* {
	box-sizing: border-box;
}

.content {
	padding: 0 0.938rem;
	margin: 0 auto;
}

body {
	font-size: 1em;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	color: #004056;
}

.wrap {
	padding: 0 0.938rem;
	margin: 0 auto;
	width:764px;
	text-align: center;
	background-color: #FFFFCB;
	height:95rem;
	border-radius: 35px;
	border: 1px solid black;
}

.portWrap {
	padding: 0 0.938rem;
	margin: 0 auto;
	width:764px;
	text-align: center;
	background-color: #FFFFCB;
	height:75rem;
	border-radius: 35px;
	border: 1px solid black;
}

/* MY STYLES */


/* NAVAGATION */

.top-navagation {
	background-color: #C9FFD5;
	position: fixed;
	width:100%;
	z-index: 9999;
	top: 0;
}

.top-navagation > .content {
	height: 4.375rem;
	margin: 0 auto;
	margin-top: 25px;
}

.top-navagation h1 {
	font-size: 2em;
	font-weight: bold;
	margin-top: 15px;
	float: left;
}

/* NAVAGATION LINKS FORMATTING */

.top-navagation .links {
	float: right;
	color: #2c858d;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	margin-top: 12px;
}

.top-navagation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navagation .links li:hover{
	color: #004056;
	cursor: pointer;
}

/* INTRODUCTION SECTION */

.introduction_transbox {
	border: 1px solid black;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
	margin: 0 auto; 
	height:10rem;
	margin-top: 18rem;
	padding-top: 5px;
}


.introduction {
    background-image: url(../images/Waterfall.JPG);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: .4; */
    height: 45.938rem;
    overflow: auto;
}


.intro {
	/* margin-top: 18rem; */
	font-size: 2em;
	color: #004056;
	text-shadow: 3px 3px 1px #a1a5a4;
}

.introduction h1 {
	margin-top: -2rem;
	font-size: 4em;
	color: #004056;
	text-shadow: 3px 3px 2px #000
}

.intro,
.introduction h1 {
	text-align: center;
}

/* ABOUT SECTION */

.about {
	text-align: center;
	margin-top: 5rem;
}

.me {
	background: url(../images/my_photo.jpg) no-repeat center center;
	width: 250px;
	height: 250px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-top: 2rem;
  	margin-right: .5em;
  	margin-left: .5em;
  	border-radius: 5px;
}

.left {
	float:left;
}


/* PROFESSIONAL EXPERIENCE */

.professional {
	clear: both;
	width:40%;
	display: inline-block;
}

.adobe {
	width:50%;
	margin-top: 6rem;
	margin-left: 5rem;
}

.programs {
	float: right;
	width:50%;
}

.skills {
	float:left;
	width: 50%;
}


/* CONTACT */

.contact {
	float:right;
	width:40%;
	display: inline-block;
	margin-top: 4rem;
}

/* FOOTER */

.foot {
    /* background-color: #74CEB7; */
    overflow: auto;
    padding-bottom: 3rem;
    text-align: center;
    clear: both;
}

.foot hr {
  	padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-top: 3rem;
}

.foot hr:after{
	content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.foot .copy {
    font-size: .9rem;
    font-weight: 300;
    color: #838994;
 }


.foot .icons > li {
    border-radius: 1.25rem;
    width: 2rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    /* border: 1px solid #eaebec; */
    padding: 0.625rem 0;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.foot .twitter .links li:hover{
    color: #2C858D;
}

.foot .facebook .links li:hover{
    color: #2C858D;
}

.foot .linkedin .links li:hover{
	color: #2C858D;
}

.foot .github .links li:hover{
	color: #2C858D;
}


/* NEW PORTFOLIO FORMAT */

.works hr {
	padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-top: 1.5rem;
}

.works hr:after {
	content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.inline {
	display: inline-block;
    padding: 3rem 1rem 3rem 1rem;
    text-align: center;
    margin: 0 auto;
    /* background-color: #FFFFCB; */
}

.portfolio h1 {
	font-size: 1.5em;
	padding-top: 20px;
}

.portContainer {
	margin-top: -.5rem;
	padding: 20px;
	width:100%;
}

.title {
	margin-top: 8rem;
	text-align: center;
	font-size: 3rem;
}


/* RESPONSIVENESS */

@media only screen and (max-width: 764px) {

	.wrap{
		width:360px;
		height: 100%;
	}

	.portWrap{
		width:360px;
		height: 100%;
	}

    .about .content {
    	margin: auto;
    }

    .me{
    	margin-left: 4em;
    }

    .bio {
    	clear:both;
    	width:75%;
    	margin: auto;
    	margin-top: 2rem;
    }

	.top-navagation h1 {
		font-size: 1em;
		float:none;
		}

	.top-navagation .links {
		font-size: .5em;
		float:none;
	}

	.professional {
		float:none;
		text-align: center;
		width:100%;
	}

	.contact {
		float:none;
		width:100%;
		text-align: center;
	}

	.portfolio {
		float: none;
    	width: 100%;
    	
	}
	
}


a:link, a:hover { 
    color: #2C858D;
    text-decoration: underline;
    cursor: pointer;
}

a:link, a:visited { 
    color: #004056;
    text-decoration: underline;
    cursor: pointer;
}


a:link {
	color: #004056;
    text-decoration: underline;
    cursor: pointer;
}